<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="">
  <label for="">What's your name?</label>
  <input placeholder="Full Name" type="text" name="fullName">
  <br>
  <label for="">How old are you</label>
  <input placeholder="Your Age" type="text" name="age">
  <br>
</form>
