<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="/" method="POST">
  <label for="">What's your name?</label>
  <br>
  <input placeholder="Full Name" type="text" name="fullName">
  <br>
  <label for="">How old are you</label>
  <br>
  <input placeholder="Your Age" type="text" name="age">
  <br>
  <label for="">Where are you from?</label>
  <br>
  <input placeholder="Type your country" type="text" name="country">
  <br>
  <label for="">Whats your favorite color?</label>
  <br>
  <input placeholder="Favorite Color" type="color" name="color">
  <br>
  <label for="">When it's your birthday?</label>
  <br>
  <input type="date" name="birthday">
  <br>
  <label for="">Favorite Book</label>
  <br>
  <input placeholder="ex: Charlotte's web" type="text" name="favBook">
  <br>
  <input type="submit">
</form>
